body {
}
.cabeçalho {
    background-color: rgb(0, 2, 137);
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 0px;
}
.cabeçalho-título{
    font-size: 60px;
}